
/* Display.css */

.display {
    height: 80px;
    background-color: #424242; /* Fondo gris oscuro */
    color: #FF9800; /* Texto naranja */
    font-size: 2rem;
    text-align: right;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 2px solid #FF9800; /* Línea naranja debajo */
}
  
  
  
  
  