
/* Keypad.css */

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 20px;
    background-color: #212121; /* Fondo negro */
  }
  
  .keypad button {
    background-color: #424242; /* Botones gris oscuro */
    color: #FF9800; /* Texto de los botones en naranja */
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .keypad button:hover {
    background-color: #FF9800; /* Fondo naranja al pasar el ratón */
    color: #ffffff; /* Texto blanco al pasar el ratón */
  }
  
  
  
  